# Visual Studio code coverage results
*.coverage
*.coveragexml

# VS Code
.vscode/


# Build results
[Bb]uild/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs